<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko if: paySystems -->
        <div class="kaznachey-pay-systems">
            <div data-bind="i18n: 'Select the subsystem for payment:'"></div>
            <select name="kaznachey-pay-system"
                    id="kaznacheyPaySystem"
                    data-bind="options: paySystems,
                        optionsText: 'name',
                        optionsValue: 'id',
                        value: paySystemId">
            </select>
        </div>
        <!-- /ko -->

        <!-- ko if: termToUse -->
        <div class="kaznachey-term-on-use">
            <span data-bind="i18n: 'By clicking the button to confirm the order, you agree with'"></span>
            <a href="#" target="_blank" data-bind="attr: {href: termToUse}, i18n: 'the rules of using this payment system'"></a>.
        </div>
        <!-- /ko -->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <!-- ko if: paySystems -->
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: paySystems -->
            <div class="kaznachey-not-available">
                <span data-bind="i18n: 'Payment system is not available now.'"></span>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>