<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>

<style>
    .block.filter{
        width:100%;
        clear:both;
        margin-bottom:30px;
        display:grid;
    }
    .block.filter .content .items{
        display:block;
    }
    .block.filter .content .items li.item{
        display:block;
        padding: 10px;
        height: 200px;
        width: 200px;
        width: 16%;
        float: left;
    }
    .block.filter .content .items li.item a{
        text-align:center;
        text-align: center;
        display: block;
        font-size:14px;
    }
    .items.options .item .item-wrapper
    {
        border: 1px solid #ccc;
        /*padding: 5px 5px;*/
        width:100%;
        height: 180px;
    }
    @media (max-width: 770px) {
        .block.filter .content .items li.item{
            width:50%;
        }
    }
</style>
<?php if (!$block->getCategory()) {
    return;
} ?>
<?php $_categories = $block->getCurrentChildCategories(); ?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count): ?>
    <div class="block filter">
<!--        <div class="title">-->
<!--            <strong>--><?php ///* @escapeNotVerified */ echo __('Shop By') ?><!--</strong>-->
<!--        </div>-->
        <div class="content">
<!--            <strong class="subtitle">--><?php ///* @escapeNotVerified */ echo __('Shopping Options') ?><!--</strong>-->
<!--            <div class="options" id="narrow-by-list2">-->
<!--                <dt>--><?php ///* @escapeNotVerified */ echo __('Category') ?><!--</dt>-->
<!--                <dd>-->
                    <ul class="items options" id="narrow-by-list2">
                        <?php foreach ($_categories as $_category): ?>
                            <?php if ($_category->getIsActive()): ?>
                                <li class="item">
                                    <div class="item-wrapper">
                                        <?php

                                        $_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $load_cat = $_objectManager->create('Magento\Catalog\Model\Category')->load($_category->getId());

                                        $categoryImage=$load_cat->getImageUrl();
                                        if (!empty($categoryImage)):?>
                                        <a href="<?php /* @escapeNotVerified */ echo $block->getCategoryUrl($_category) ?>"<?php if ($block->isCategoryActive($_category)): ?> class="current"<?php endif; ?>>
                                            <img src="<?=$categoryImage;?>"/>
                                        </a>
                                        <?php endif;?>

                                        <a href="<?php /* @escapeNotVerified */ echo $block->getCategoryUrl($_category) ?>"<?php if ($block->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $block->escapeHtml($_category->getName()) ?></a>
    <!--                                    <span class="count">--><?php ///* @escapeNotVerified */ echo $_category->getProductCount() ?><!--</span>-->
                                    </div>
                                </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ul>
<!--                </dd>-->
<!--            </div>-->
        </div>
    </div>
<?php endif; ?>
