<?php
$post = $this->getPost();
$dateFormat = $this->getDateFormat();
?>

<style>
    .post-text table{
        width:100%!important;
        border-collapse:collapse;
    }
    .post-text table tr td{
        padding:10px;
    }
    .post-text img {
        margin: 0px 15px;
    }
</style>
<div class="post-page">
    <div class="post-content">
        <div class="post-text">
            <?php echo $this->filterContent($post->getContent()); ?>
        </div>
        <div class="post-data">
            <?php /*if ($author = $post->getAuthor()): ?>
            <span class="post-author">
                <span class="author"><?php echo $author; ?></span>
            </span>
            <?php endif; ?>
            <span class="create-date">
                <span class="label"><?php echo __('on '); ?></span>
                <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
            </span>
            <?php if ($post->getCommentsEnabled()) : ?>
            <span class="post-comments">
                <a href="#post-comments">
                    <span class="count">
                        <?php echo $post->getApprovedComments()->count(); ?>
                    </span>
                </a>
            </span>
            <?php endif;*/ ?>
            <?php echo $this->getChildHtml('blog.social.sharing'); ?>
        </div>
        <?php //echo $this->getChildHtml('comments'); ?>
        <?php echo $this->getChildHtml('products'); ?>
        <?php echo $this->getChildHtml('posts'); ?>
    </div>
</div>