

<!--<div style="margin: 20px 0px;" id="carrier-justin-city-list-wrapper" data-bind="visible: selectedMethod() == 'justin_justin'">-->
    <!--<label for="carrier_city_justin">Город</label>-->
    <!--<input id="carrier_city_justin"  class="input-text" placeholder="Город" name="carrier_address_justin" type="text" />-->

<!--</div>-->
<div style="margin: 20px 0px;" id="carrier-postcode-international-list-wrapper" data-bind="visible: selectedMethod() == 'international_international'">
    <label for="carrier_postcode_international">International postal adress</label>
    <input id="carrier_postcode_international"  class="input-text" placeholder="Postal adress" name="carrier_postcode_international" type="text" />

</div>

<!-- additional conteCities-->