<?php $_product = $block->getProduct();
$attribute_code_custom_stock = 'status_custom_stock';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$codeStockValue = $_product->getStatusCustomStock();//$this->helperBikeshop->getAttributeValueByLabel($attribute_code_custom_stock, 'Нет на складе');
$helperBikeshop=$this->helper(Webfresh\Bikeshop\Helper\Data::class);

if ($_product->getIsSalable()) {
    if (($codeStockValue != '') && ($codeStockValue > 0)) {

        $labelStock = $helperBikeshop->getAttributeLabelByValue($attribute_code_custom_stock, $codeStockValue);

            if ($labelStock) {
                $color = 'color:green;';
                if ($labelStock == 'Нет на складе')
                    $color = 'color:#939393;';
                    //$color = 'color:red;';
                if ($labelStock != 'Нет на складе') {
                    ?>
                    <div class="value_stock_name" style="<?= $color; ?>">
                        <?= $labelStock; ?>
                    </div>
                    <?
                }else{
                    ?>
                    <div class="value_stock_name" style="color:green;">
                        Есть на складе
                    </div>
                    <?php
                }

            }else{?>
                <div class="value_stock_name" style="color:green;">
                    Есть на складе
                </div>
                <?php
            }

    } else {
        if ($_product->getIsSalable()):?>
            <div class="value_stock_name" style="color:green;">
                Есть на складе
            </div>
        <?php else: ?>
            <div class="value_stock_name" style="color:#939393;">
                НЕТ В НАЛИЧИИ
            </div>
        <?php endif;
    }
}else{
    ?>
    <div class="value_stock_name" style="color:red;">
        НЕТ В НАЛИЧИИ
    </div>
<?php
}
?>
<style>
    .value_stock_name{
        font-weight:700;
        font-size:20px;
        text-transform:uppercase;
        margin:15px 0px;
    }
</style>
