<?php
/** @var \TemplateMonster\Blog\Block\Widget\PostList $block */
$dateFormat = $this->getDateFormat();
$itemWidth = $block->getPostAmountPerRow() ? sprintf(' style="flex-basis: %1$.2f%%; -webkit-flex-basis: %1$.2f%%;"', 100 / $block->getPostAmountPerRow()) : '';
?>

<?php if ($posts = $this->getPosts()) : ?>
    <div class="block widget blog-posts">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?php echo __($block->getTitle()) ?></strong>
        </div>
        <div class="block-content">
            <div class="post-items"<?php if ($block->isEnabledCarousel()): ?> data-mage-init='{"blogCarousel": {"items": "<?php /* @escapeNotVerified */ echo $block->getPostAmountPerView(); ?>"}}' <?php endif; ?>>
            <?php foreach ($posts as $post): ?>
                <div class="post-item"<?php echo $itemWidth ?>>
                    <div class="item-wrapper">
                        <!-- Image -->
                        <?php if ($image = $post->getImage()): ?>
                        <div class="post-image">
                            <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                        </div>
                        <?php endif; ?>

                        <!-- Title -->
                        <div class="post-title">
                            <h3>
                                <a href="<?php echo $this->getPostUrl($post); ?>">
                                    <?php echo $block->getPostTruncatedTitle($post); ?>
                                </a>
                            </h3>
                        </div>

                        <!-- Short Description -->
                        <div class="post-short-content">
                            <?php echo $block->filterContent($post->getShortContent()); ?>
                            <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                                <?php /* @escapeNotVerified */ echo __('more'); ?>...
                            </a>
                        </div>

                        <!-- Metadata -->
                        <div class="post-data">
                            <?php if ($post->getCommentsEnabled()) : ?>
                                <span class="post-comments">
                                    <a href="<?php echo $this->getPostUrl($post); ?>#post-comments">
                                        <span class="count material-icons-chat_bubble_outline">
                                            <?php echo $post->getApprovedComments()->count(); ?>
                                        </span>
                                    </a>
                                </span>
                            <?php endif; ?>
                            <span class="create-date material-icons-access_time">
                                <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
                            </span>
                            <?php if ($author = $post->getAuthor()): ?>
                                <span class="post-author material-icons-person">
                                    <span class="label"><?php echo __('by '); ?></span>
                                    <span class="author"><?php echo $author; ?></span>
                                </span>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>

                <a href="/blog/"><?php echo __('Blog'); ?></a>
            </div>
        </div>
    </div>
<?php endif; ?>