#checkoutSteps{
    display:table;
    width:100%;

}
#checkoutSteps li{
    padding-right:30px;
    width:50%;
    display:table-cell;
}
@media (max-width: 770px) {
    #checkoutSteps li{
        width:100%;
        display:block;
        padding-right:0px;
    }
}

table.table-checkout-shipping-method .col.col-price{
    display:none!important;
}
#checkoutSteps li:last-child{
    padding-right:0px;
}

#carrier-office-list-wrapper{
    margin:20px 0px;
}
#carrier-office-list-wrapper label{
    margin-bottom:15px;
    display:block;
}
#carrier_department{
    margin-bottom:15px;

}
.table-checkout-shipping-method tbody tr{
    cursor:pointer;
}
.table-checkout-shipping-method tbody tr td{
    padding:5px;

}

.kaznachey-term-on-use{
    margin-bottom:15px;
}
.kaznachey-pay-systems  select{
    margin:15px 0px;
}

.ui-autocomplete .ui-menu-item a{
    display:block;
    padding:5px 10px;
    cursor:pointer;
}
.payment-method-billing-address{
    display:none;
}
#checkout-step-payment .payment-method{
    margin-bottom:10px;
}