<div class="sm-header-panel-canvas"></div>

<div class="sm-header-nav-wrap">
    <?php if ($this->getNameInLayout() == 'catalog.topnav'): ?>
        <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
        <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
        <!-- RD Navbar Toggle -->
        <button class="sm-header-nav-toggle"><span></span></button>
        <!-- END RD Navbar Toggle -->
        <!-- Top Nav -->
        <nav class="navigation <?php echo $this->_helper->isVertical() ? ' mobile-only' : ' tm-top-navigation' ?>" role="navigation" >
            <div class="isStuck-logo">
                <img src="<?php echo $this->getViewFileUrl('images/logo-menu.png'); ?>" alt="isStuck-logo">
            </div>
            <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "position":{"my":"left top","at":"left bottom"}, "differentPositionMenus":".megamenu-wrapper", "differentPosition":{"my":"left top","at":"left bottom","of":".navigation"}}}'>
                <?php /* @escapeNotVerified */ echo $_menu; ?>

                <li class="header_phones" >
                    <div class="header_phones_menu">
                        <span class="item_phone"><span>+38 (096) 496-30-86</span><br/>
 	<span>+38 (066) 270-51-31</span><br/>
 	<span style="padding-left: 35px;">+38 (093) 642-88-76</span></span>
                        <div class="header_working_hours" style="margin-left: 30px;display:inline-block;">
                            <div>
                                <div><span class="title_working_hours">пн-пт -</span> <span class="value_working_hours">10.00-19.00</span></div>
                                <div><span class="title_working_hours">сб -</span> <span class="value_working_hours">11.00-14.00</span></div>
                                <div><span class="title_working_hours">вс -</span> <span class="value_working_hours">выходной</span></div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>

    <?php endif;
    if($this->getNameInLayout() == 'catalog.sidebarnav' && $this->_helper->isVertical()): ?>
        <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
        <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
        <!-- Sidebar Nav -->
        <nav class="navigation desktop-only" role="navigation">
            <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "responsive":true, "expanded":true, "position":{"my":"left top","at":"right top"}}}'>
                <?php echo $_menu; ?>
            </ul>
        </nav>

    <?php endif; ?>
</div>
<style>

    .sm-mobile nav.navigation > .ui-menu li > a{
        display: block;
        height: 50px;

        padding: 17px 17px;
        vertical-align: middle;
    }
    .sm-mobile nav.navigation > .ui-menu li ul.submenu{
        margin-top:0px;
    }
    .sm-mobile nav.navigation > .ui-menu li ul.submenu li > a{
        height: 30px;
        padding: 5px 17px;
        padding-left:30px;
    }
    .level1.submenu.rd-navbar-dropdown.ui-menu.ui-widget.ui-widget-content.ui-corner-all
    {
        padding-left: 15px;
        margin-top:0px!important;
    }


    .sm-mobile nav.navigation > .ui-menu li ul.submenu li.parent.ui-menu-item ul.submenu{

    }
    /*.sm-mobile nav.navigation > .ui-menu li ul.submenu li .ui-menu-item a*/
    /*{*/
        /*padding-left:15px;*/
    /*}*/
    li.header_phones .header_working_hours
    {
        display: inline-block;
        line-height: 1.5;
        margin-top: 10px;
    }

    li.header_phones .header_phones_menu{
        margin-left: 0px;
        padding: 17px;
        border-bottom: 1px solid #f0f0f0;
        position: static;
        display: block;
    }
    li.header_phones .item_phone{
        margin-left:0px;
        margin-left: 0px;
        line-height: 1.5;

    }
    li.header_phones .title_working_hours{
        width: 60px;
    }
    li.header_phones .header_working_hours{
        padding-left:0px;
    }
    li.header_phones .item_phone::before
    {
        background-position: 0px 5px;
        background-size: 25px 25px;
        width:36px;
        height:36px;
        margin-right:0px;
        /*content:'';
        background:none;
        width:0px;
        height:0px;*/

    }

    @media (min-width: 770px) {
        .ui-menu.ui-widget.ui-widget-content.ui-corner-all .header_phones{
            display:none;
        }


    }
</style>