/**
 * MageClass_ClickAndCollect Magento Extension
 *
 * @category    MageClass
 * @package     MageClass_ClickAndCollect
 * @author      Milan Stojanov <milan.stojanov@outlook.com>
 * @website    http://www.mageclass.com
 */
.mc_cac_map .modal-inner-wrap { position: relative; }
.mc_cac_map .modal-header { display: none; }
.mc_cac_map .modal-content { padding: 0 0 0 0; }
.mc_cac_map .modal-content #map-canvas { position: absolute; top: 0; right: 0; bottom: 0; left: 0;left: 0; }
#pickup-date { width: 350px; }
#selected-store-msg { display: none; margin-top: 20px;}
#selected-store-msg span { font-weight: bold; }

.mc_cac_map .modal-inner-wrap{
    width:500px;
}
.apply-store{
    display:block;
    cursor:pointer;
    padding:5px;
    background-color: #8fc6db;
    color:#fff;
    font-size:16px;
    font-weight:700;

}