.header_phones .item_phone
{
    color:#000;
    color:#59bbe0;
    font-size:22px;
    font-weight:700;
    display:block;
    margin-left: 30px;

}
.level1.submenu.rd-navbar-dropdown.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    margin-top: -30px;
}
.header_phones .item_phone::before
{
    content: "";
    display: block;
    width: 46px;
    height: 46px;

    float: left;
    margin-right: 20px;
    background: url(../images/phone-symbol.svg) 0 0/cover no-repeat;
    margin-top:25px;
}

.sm-header-nav-wrap{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 20px;
    padding-bottom:5px;
}
.sm-desktop .page-header__content {
    padding-top: 15px;
}
.header_working_hours{
    padding-left:60px;
}
.header_working_hours ul li
{
    display:block;
    dispay:table;
    color:#000;
    font-size:18px;
    font-weight:400;
}
.sm-desktop .block-search #search_mini_form .field{
    width: 310px;
}

.title_working_hours{
    display:table-cell;
    text-align:right;
    padding-right:10px;
    width:100px;
}
.value_working_hours{
    display:table-cell;
    text-align:left;
}
.block-minicart .block-content > .actions .viewcart,
.block-minicart .block-content > .actions button.primary {
    padding: 14px 15px;
}
.block-minicart .minicart-items .details-qty .cart-item-qty {
    padding: 7px;
    width: 50px;
}
.block-minicart .block-content > .subtotal {
    padding: 0 16px 15px;
}
@media (min-width: 992px) {
    .page-main {
        margin-top: 34px;
    }
}

#opc-sidebar .items-in-cart .minicart-items .product-item > .product{

    display: table;
    width: 100%;
}

#opc-sidebar .items-in-cart .minicart-items .product-image-container {
    display: table-cell;
    padding-right: 10px;
    vertical-align:top;

}

#opc-sidebar .items-in-cart .minicart-items .product-item .product .product-item-details
{
    float: left;
    display: table-cell;
    vertical-align:top;
}

.navigation.tm-top-navigation .ui-widget.ui-widget-content
{
    border: none;
}