

<div style="margin: 20px 0px;" id="carrier-justin-city-list-wrapper" data-bind="visible: selectedMethod() == 'justin_justin'">
    <label for="carrier_city_justin">Город</label>
    <input id="carrier_city_justin"  class="input-text" placeholder="Город" name="carrier_city_justin" type="text" />

</div>
<div style="margin: 20px 0px;" id="carrier-justin-department-list-wrapper" data-bind="visible: selectedMethod() == 'justin_justin'">
    <label for="carrier_department_justin">Номер отеления</label>
    <input id="carrier_department_justin"  class="input-text" placeholder="Отделение" name="carrier_address_justin" type="text" />

</div>

<!-- additional conteCities-->