<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */
$price = $block->getDisplayValue();
if ($price > 0):?>

    <span class="price-container <?php /* @escapeNotVerified */
        echo $block->getAdjustmentCssClasses() ?>"
            <?php echo $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
        <?php if ($block->getDisplayLabel()): ?>
            <span class="price-label"><?php /* @escapeNotVerified */
                echo $block->getDisplayLabel(); ?></span>
        <?php endif; ?>
            Цена:
        <span <?php if ($block->getPriceId()): ?> id="<?php /* @escapeNotVerified */
            echo $block->getPriceId() ?>"<?php endif; ?>
            <?php echo ($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
                data-price-amount="<?php /* @escapeNotVerified */
                echo $block->getDisplayValue(); ?>"
                data-price-type="<?php /* @escapeNotVerified */
                echo $block->getPriceType(); ?>"
                class="price-wrapper <?php /* @escapeNotVerified */
                echo $block->getPriceWrapperCss(); ?>"
            <?php echo $block->getSchema() ? ' itemprop="price"' : '' ?>>
            <?php /* @escapeNotVerified */
            echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer(), 0) ?>
        </span>


            <?php if ($block->hasAdjustmentsHtml()): ?>
                <?php echo $block->getAdjustmentsHtml() ?>
            <?php endif; ?>

            <?php if ($block->getSchema()): ?>
                <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */
                echo $block->getDisplayCurrencyCode() ?>"/>
            <?php endif; ?>
    </span>

<?php endif; ?>