/**
 * Copyright © 2016 TemplateMonster. All rights reserved.
 * See COPYING.txt for license details.
 */

// Local vars
$category-link-size: 20px;
$category-link-size-small: 14px;
$category-link-color: $primary;
$category-link-color-hover: $accent;

$subcategory-link-size: 14px;
$subcategory-link-size-small: 14px;
$subcategory-link-color: $primary;
$subcategory-link-color-hover: $accent;

$link-size: 16px;
$link-color: $primary;
$link-color-hover: $black;

// Main styles
.catalog-image-grid {
    margin-bottom: 20px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        img {
            max-width: 100%;
        }
    }

    /************** Category **************/
    .category-grid,
    .category-list {
        overflow: hidden;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -20px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1){
            @include justify-content(center);
        }

        > li {
            padding: 0 20px;
            margin: 0 0 20px;
            box-sizing: border-box;

            @media (min-width: $screen-sm-min) {
                margin: 0 0 40px;
            }

            .grid-inner {
                box-sizing: border-box;
            }
        }

        .category-link {
            display: inline-block;
            text-decoration: none;
            font-weight: 500;
            font-size: $category-link-size;
            color: $category-link-color;

            &:hover {
                color: $category-link-color-hover;
            }

            @media (max-width: 767px) {
                font-weight: 600;
                font-size: $category-link-size-small;
            }

            .category-name {
                display: inline-block;
                margin-bottom: 10px;

                @media(max-width: $screen-xs-min - 1){
                    margin-bottom: 0;
                }
            }
            .category-image {
                display: block;
                margin-bottom: 10px;
            }

            .category-icon {
                display: inline-block;
                font-style: normal;

                &:before {
                    line-height: normal;
                    margin-right: 5px;
                }
            }
        }

        .button-more {
            @include button-block;
            @include button-block__primary;
            text-transform: uppercase;
        }

        /************** SubCategory **************/
        .subcategory-grid {
            margin-bottom: 25px;

            @media(max-width: $screen-xs-min - 1){
                margin-bottom: 8px;
            }

            > li {
                padding: 0;
                margin: 0;

                + li{
                    margin-top: 4px;
                }
            }
            .subcategory-link {
                display: inline-block;
                text-decoration: none;
                font-weight: 400;
                font-size: $subcategory-link-size;
                line-height: 1.1;
                color: $subcategory-link-color;
                text-transform: uppercase;
                padding-left: 18px;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -4px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $primary;
                }

                @media (min-width: $screen-xl-min){
                    line-height: 2.08;
                }

                &:hover {
                    color: $subcategory-link-color-hover;
                }

                @media (max-width: 767px) {
                    font-size: $subcategory-link-size-small;
                }

                .subcategory-name,
                .subcategory-image {
                    display: inline-block;
                }

                .subcategory-image {
                    vertical-align: middle;
                    margin-right: 10px;

                    img {
                        vertical-align: middle;
                    }
                }

                .category-icon {
                    display: inline-block;
                    font-style: normal;

                    &:before {
                        line-height: normal;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .grid-wrapper {
        overflow: hidden;

        .category-image {
            float: left;
            width: 33%;
            margin-right: 20px;
        }

        .subcategories {
            overflow: hidden;
            float: left;
        }
    }
}