

<div style="margin: 20px 0px;" id="carrier-ukrposhta-postcode-list-wrapper" data-bind="visible: selectedMethod() == 'ukrposhta_ukrposhta'">
    <label for="carrier_address_ukrposhta">Адрес</label>
    <input id="carrier_address_ukrposhta"  class="input-text" placeholder="Полный почтовый адрес доставки с индексом" name="carrier_address_ukrposhta" type="text" />

</div>


<!-- additional conteCities-->