<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\OfflinePayments\Block\Form\Cashondelivery
 */
$instructions = $block->getInstructions();

/*$subTotal = $block->getMethod()->getSubtotal();
if ($subTotal >= 5000) {
    ?>
    <div>
        Доступен с ограничениями ( внесение 10% стоимости заказа на транспортные расходы )
    </div>
    <?php
}
*/
?>
<?php if ($instructions): ?>
    <?php $methodCode = $block->escapeHtml($block->getMethodCode()); ?>
    <div class="items <?php /* @noEscape */
    echo $methodCode ?> instructions agreement" id="payment_form_<?php /* @noEscape */
    echo $methodCode ?>" style="display: none;">
        <?php /* @noEscape */
        echo nl2br($block->escapeHtml($instructions)) ?>
    </div>
<?php endif; ?>
