<div class="header_phones">
    <span class="item_phone"><span>+38 (096) 496-30-86</span><br/>
 	<span>+38 (066) 270-51-31</span><br/>
 	<span>+38 (093) 642-88-76</span></span>

</div>
<!-- style="padding-left:65px;"-->
<div class="header_working_hours" style="margin-left: 30px;">
    <ul>
        <li><span class="title_working_hours">пн-пт -</span> <span class="value_working_hours">10.00-19.00</span></li>
        <li><span class="title_working_hours">сб -</span> <span class="value_working_hours">11.00-14.00</span></li>
        <li><span class="title_working_hours">вс -</span> <span class="value_working_hours">выходной</span></li>
    </ul>
</div>
