<?php
$post = $this->getPost();
$dateFormat = $this->getDateFormat();
?>

<div class="post-page">
    <div class="post-content">
        <div class="post-text">
            <?php echo $this->filterContent($post->getContent()); ?>
        </div>
        <div class="post-data">
            <span class="create-date material-icons-access_time">
                <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
            </span>
            <?php /*if ($author = $post->getAuthor()): ?>
            <span class="post-author material-icons-person">
                <span class="label"><?php echo __('by '); ?></span>
                <span class="author"><?php echo $author; ?></span>
            </span>
            <?php endif;*/ ?>
            <?php /*if ($post->getCommentsEnabled()) : ?>
            <span class="post-comments">
                <a href="#post-comments">
                    <span class="count material-icons-chat_bubble_outline">
                        <?php echo $post->getApprovedComments()->count(); ?>
                    </span>
                </a>
            </span>
            <?php endif; */?>
            <?php echo $this->getChildHtml('blog.social.sharing'); ?>
        </div>
        <?php //echo $this->getChildHtml('comments'); ?>
        <?php echo $this->getChildHtml('products'); ?>
        <?php echo $this->getChildHtml('posts'); ?>

    </div>
</div>