
<div id="carrier-city-list-wrapper" data-bind="visible: (selectedMethod() == 'newposhta_newposhtahome'||selectedMethod() == 'newposhta_newposhta')">
    <label for="carrier_city">Город</label>
    <input id="carrier_city"  class="input-text" placeholder="Начните вводить город" name="carrier_city" data-bind="
    shippingCityAutoComplete: {
        selected: selectedCity,
        options: getCities
    },
    attr: {
        name: 'carrier_city',
        id: 'carrier_city'
    }" />
</div>

<div style="margin: 20px 0px;" id="carrier-address-list-wrapper" data-bind="visible: (selectedMethod() == 'newposhta_newposhtahome' || selectedMethod() == 'flatrate_flatrate')">
    <label for="carrier_address">Адрес</label>
    <input id="carrier_address"  class="input-text" placeholder="Введите адрес" name="carrier_address" type="text" />
</div>


<div id="carrier-office-list-wrapper" data-bind="visible: selectedMethod() == 'newposhta_newposhta'">
    <label for="carrier_department">Отделение новой почты</label>
    <input id="carrier_department" class="input-text" placeholder="Начните вводить адрес отделения"  name="carrier_department" data-bind="deAutoComplete: {
        selected: selectedDepartment,
        options: getDepartments
    },
    event: {change: userChanges},
    value: value,
    hasFocus: focused,
    valueUpdate: valueUpdate,
    attr: {
        name: 'carrier_department',
        placeholder: placeholder,
        'aria-describedby': noticeId,
        id: 'carrier_department',
        disabled: disabled
}" />
</div>
<!-- additional conteCities-->